<config>
	<modules>
		<TVPage_Connect>
			<version>1.6.0.0</version>
		</TVPage_Connect>
	</modules>
	<global>
		<blocks>
			<tvpconnect>
				<class>TVPage_Connect_Block</class>
			</tvpconnect>
        </blocks>
		<helpers>
			<tvpconnect><class>TVPage_Connect_Helper</class></tvpconnect>
		</helpers>
		<models>
      <catalog_resource>
          <rewrite>
            <product_collection>TVPage_Connect_Model_Resource_ProductCollection</product_collection>
          </rewrite>
      </catalog_resource>
			<tvpconnect>
				<class>TVPage_Connect_Model</class>
				<resourceModel>tvpconnect_mysql4</resourceModel>
			</tvpconnect>
			<tvpconnect_mysql4>
				<class>TVPage_Connect_Model_Mysql4</class>
				<entities>
					<tvpconnect>
						<table>tvpconnectkeys</table>
					</tvpconnect>
				</entities>
			</tvpconnect_mysql4>
        </models>
		<resources>
			<tvpconnect_setup>
				<setup>
					<module>TVPage_Connect</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</tvpconnect_setup>
			<tvpconnect_write>
				<connection>
					<use>core_write</use>
				</connection>
			</tvpconnect_write>
			<tvpconnect_read>
				<connection>
					<use>core_read</use>
				</connection>
			</tvpconnect_read>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<tvpconnect>
					<file>tvpconnect.xml</file>
				</tvpconnect>
			</updates>
        </layout>
		<routers>
			<tvpconnect>
				<use>standard</use>
				<args>
					<module>TVPage_Connect</module>
					<frontName>tvpage-connect</frontName>
				</args>
			</tvpconnect>
		</routers>
	</frontend>
	<adminhtml>
		<menu>
			<system>
				<children>
					<tvpconnect_adminform translate="title" module="tvpconnect">
						<title>TVPage Connect</title>
						<action>tvpconnect/adminhtml_admin</action>
					</tvpconnect_adminform>
				</children>
			</system>
		</menu>
		<layout>
			<updates>
				<tvpconnect>
					<file>tvpconnect.xml</file>
				</tvpconnect>
			</updates>
        </layout>
	</adminhtml>
</config>
